@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Serif+TC&display=swap');
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

html, body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0px;
  color: #283856;
  scroll-behavior: smooth;
  font-family: "Noto Serif TC", "Lato", serif;
}

p {
  margin: 0px;
}

.content {
  background-color: rgb(251, 251, 253);
  padding: 20px;
}

video:focus {
  outline: none;
}

.text-shade {
  text-shadow: 2px 2px 3px grey;
}

section {
  position: fixed;
  height: 100vh;
  width: 100vw;
  transition: all 0.3s ease-out;
  visibility: visible;
  opacity: 1;
}

section.inactive {
  transform: scale(0.7);
  border-radius: 50px;
  transition: all 0.3s ease-out;
  visibility: visible;
  opacity: 1;
  box-shadow: 0px 0px 20px 16px #11101d;
}

section.inactive.left {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50vw) scale(0.4);
  transition: all 0.5s ease;
}

section.inactive.right {
  visibility: hidden;
  opacity: 0;
  transform: translateX(50vw) scale(0.4);
  transition: all 0.5s ease;
}

.sec-content {
  position: absolute;
  height: calc(100vh - 50px);
  top: 50px;
  overflow: auto;
}

.sec-content.has-text {
  height: auto;
  box-shadow: 0px 0px 6px 2px #c5c2c2;
  border-radius: 10px;
}

.sec-title {
  color: #113889;
  border-bottom: 1px solid #192a4d;
  font-weight: 550;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.fixed-bg {
  background-attachment: fixed;
  background-size: cover;
  background-position: left;
}

.sec-anchor {
  position: relative;
  opacity: 0;
  top: -50px;
}

.nav-link {
  transition: color 0.5s ease-out;
  color: rgb(243, 255, 255);
}

.nav-link:hover {
  color: #00efff;
  font-size: 1.1rem;
}

#nav-bar {
  height: 50px;
  background: linear-gradient(45deg, #010a36, #25368ecc);
  transition: all 0.3s ease;
}

#menu-btn {
  position: fixed;
  right: 10px;
  border: none;
}

#menu-btn:focus {
  outline: none;
}

.menu-inner {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.burger::before {
  transform: translateY(-10px);
}

.burger::after {
  transform: translateY(10px);
}

#menu-btn[aria-expanded="true"] .burger {
  transform: translateX(-30px);
  background: transparent;
}

#menu-btn[aria-expanded="true"] .burger::before {
  transform: rotate(45deg) translate(20px, -20px);
}

#menu-btn[aria-expanded="true"] .burger::after {
  transform: rotate(-45deg) translate(20px, 20px);
}

#home-logo {
  z-index: 99;
  position: absolute;
  left: 30px;
}

#body-bg {
  position: fixed;
  background-repeat: repeat;
  background-attachment: local;
  width: calc(100vw + 300px);
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  background-color: #0b0d27;
  background-image: url("../img/background/stardust.png");
}

#main-sec-content {
  text-align: center;
  position: absolute;
  /* -webkit-text-fill-color: #262626;
  -webkit-text-stroke: 1px #545b62; */
  color: #2734fd;
  width: 100%;
  top: 20%;
}

#main-text-content {
  position: relative;
  display: flex;
  justify-content: center;
}

.title-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-box::before, .title-box::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  background-color: transparent;
  border: solid 6px #2936fd;
  border-style: double;
  border-left: none;
  border-right: none;
  animation: fillBorder 2s ease forwards .5s;
  z-index: -1;
}

.title-box::before {
  border-bottom: none;
}

.title-box::after {
  bottom: -0.5rem;
  border-top: none;
}

.title-box .text {
  opacity: 0;
  animation: appear 1s forwards 1.5s;
}

#head-title {
  text-shadow:
    1px -1px 0 #e1dfdf,
    1px 1px 1px #ededed,
    2px 2px 0 #2734fd,
    3px 3px 0 #2734fd;
}

#about-sec, #info-sec {
  background: #050e5d;
  /* fallback for old browsers */
  background-image: url('../img/background/shattered.png'), -webkit-linear-gradient(to bottom, #050e5d, #739cf1, #15156f);
  /* Chrome 10-25, Safari 5.1-6 */
  background-image: url('../img/background/shattered.png'), linear-gradient(to bottom, #050e5d, #739cf1, #15156f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#phone-btn {
  content: url("../img/feature/phone-static.png");
  max-width: 100px;
  margin: 5px;
  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#phone-btn:hover {
  content: url("../img/feature/phone-income.png");
  cursor: pointer;
  transform: translateY(-5px);
  animation: none;
}

.btn.form-control {
  color: floralwhite;
  background-color: #4c5ab8;
  box-shadow: 0px 1px 0px 1px #3e4990,
    0px 2px 0px 1px #2f3875,
    0px 3px 0px 1px #1f2a79,
    0px 4px 0px 1px #223091;
}

.btn.form-control:focus {
  border: none;
}

.btn.form-control:active {
  box-shadow: none;
}

.has-reveal {
  position: relative;
}

.has-reveal h1, .has-reveal h2,
.has-reveal h3,
.has-reveal h4,
.has-reveal h5,
.has-reveal h6,
.has-reveal p,
.has-reveal img {
  opacity: 0;
}

.has-reveal.animate-in h1,
.has-reveal.animate-in h2,
.has-reveal.animate-in h3,
.has-reveal.animate-in h4,
.has-reveal.animate-in h5,
.has-reveal.animate-in h6,
.has-reveal.animate-in p,
.has-reveal.animate-in img {
  animation: appear 0.1s 1.1s forwards;
}

.has-reveal.animate-in::before, .has-reveal.animate-in::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 10;
}

.has-reveal.animate-in::before {
  background-color: #4145f7;
}

.has-reveal.animate-in::after {
  background-color: #202020;
  animation-delay: .5s;
}

.has-reveal.reveal-ltr.animate-in::before {
  animation: revealLTR 1.8s ease;
}

.has-reveal.reveal-ltr.animate-in::after {
  animation: revealLTR 1s .6s ease;
}

.has-reveal.reveal-rtl.animate-in::before {
  animation: revealRTL 1.8s ease;
}

.has-reveal.reveal-rtl.animate-in::after {
  animation: revealRTL 1s .6s ease;
}

@keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }

  65% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0;
    right: 100%;
  }
}

@keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }

  65% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes fillBorder {
  0% {
    width: 0px;
    height: 0px;
    background-color: transparent;
  }

  25% {
    width: calc(100% + 5rem);
    height: 0px;
    background-color: transparent;
  }

  50% {
    width: calc(100% + 5rem);
    height: calc(50% + 0.25rem);
    background-color: transparent;
  }

  100% {
    width: calc(100% + 5rem);
    height: calc(50% + 0.25rem);
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
    content: url("../img/feature/phone-ring.png");
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
    content: url("../img/feature/phone-ring.png");
  }

  15% {
    transform: translate(-3px, 0px) rotate(1deg);
    content: url("../img/feature/phone-ring.png");
  }

  20% {
    transform: translate(3px, 2px) rotate(0deg);
    content: url("../img/feature/phone-ring.png");
  }

  25% {
    transform: translate(1px, -1px) rotate(1deg);
    content: url("../img/feature/phone-ring.png");
  }

  30% {
    transform: translate(-1px, 2px) rotate(-1deg);
    content: url("../img/feature/phone-ring.png");
  }

  35% {
    transform: translate(-3px, 1px) rotate(0deg);
    content: url("../img/feature/phone-ring.png");
  }

  40% {
    transform: translate(3px, 1px) rotate(-1deg);
    content: url("../img/feature/phone-ring.png");
  }

  45% {
    transform: translate(-1px, -1px) rotate(1deg);
    content: url("../img/feature/phone-ring.png");
  }

  50% {
    transform: translate(1px, 2px) rotate(0deg);
    content: url("../img/feature/phone-ring.png");
  }

  55% {
    transform: translate(0px, 0px) rotate(0deg);
    content: url("../img/feature/phone-ring.png");
  }

  60% {
    content: url("../img/feature/phone-static.png");
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 992px) {
  #about-content {
    padding: 0px;
  }

  #about-text {
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (max-width: 991px) {
  #nav-list {
    width: auto;
    padding-right: 0px !important;
    right: 0px;
    position: fixed;
    background-color: #0a1c54;
  }

  #nav-list li {
    text-align: center;
    padding: 10px 20px 10px 20px;
  }

  #home-logo {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 720px) {
  #nav-bar {
    height: 44px;
  }

  #nav-list {
    top: 44px;
  }

  .sec-anchor {
    position: relative;
    opacity: 0;
    top: -44px;
  }

  .sec-content {
    top: 44px;
    height: calc(100vh - 44px);
  }
}

@media (max-width: 420px) {
  .display-1 {
    font-size: 4rem;
  }

  .display-4 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 1rem;
  }

  #main-sec {
    background-size: cover;
    background-position: calc(-219px + 25vw);
  }

  #phone-btn {
    max-width: 70px;
  }
}
